# **The Three True Outcomes of Baseball**

## Problem:

The impact of the increase of the "Three True Outcomes" in Major League Baseball on fan attendance of games.

In [2]:
import pandas as pd
from scipy import stats
from scipy.stats import norm

In [8]:
attendance = pd.read_csv("Attendance.csv")
attendance.head(3)

,Team,Ballpark,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total
0,NaN,TOTAL ATTENDANCE,"73,171,239","73,451,522","73,951,759","74,026,895","73,739,622","73,760,032","72,976,074","72,670,423","69,649,736","68,478,648","725,875,950"
1,Arizona Diamondbacks,Chase Field,"2,056,519","2,105,432","2,177,617","2,134,795","2,073,730","2,080,145","2,036,216","2,134,375","2,242,695","2,135,510","21,177,034"
2,Atlanta Braves,SunTrust Park,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2,505,252","2,555,781","2,654,920","7,715,953"

In [12]:
batting_2012 = pd.read_excel("2012.xlsx")
batting_2012.head()

    Tm    PA   HR   BB    SO
0  ARI  6150  165  539  1266
1  ATL  6126  149  567  1289
2  BAL  6160  214  480  1315
3  BOS  6166  165  428  1197
4  CHC  5967  137  447  1235

In [13]:
batting_2019 = pd.read_excel("2019.xlsx")
batting_2019.head(35)

       Tm      PA    HR     BB     SO
0     ARI    6315   220    540   1360
1     ATL    6302   249    619   1467
2     BAL    6189   213    462   1435
3     BOS    6475   245    590   1382
4     CHC    6195   256    581   1460
5     CHW    6042   182    378   1549
6     CIN    6100   227    492   1436
7     CLE    6124   223    563   1332
8     COL    6288   224    489   1503
9     DET    6039   149    391   1595
10    HOU    6394   288    645   1166
11    KCR    6080   162    456   1405
12    LAA    6251   220    586   1276
13    LAD    6282   279    607   1356
14    MIA    6045   146    395   1469
15    MIL    6309   250    629   1563
16    MIN    6392   307    525   1334
17    NYM    6290   242    516   1384
18    NYY    6245   306    569   1437
19    OAK    6269   257    578   1338
20    PHI    6261   215    562   1453
21    PIT    6228   163    425   1213
22    SDP    6019   219    504   1581
23    SEA    6199   239    588   1581
24    SFG    6170   167    475   1435
25    STL    6167   210    561   1420
26    TBR    6285   217    542   1493
27    TEX    6204   223    534   1578
28    TOR    6091   247    509   1514
29    WSN    6267   231    584   1308
30  LgAvg    6217   226    530   1427
31    NaN  186517  6776  15895  42823